# python binaries
*.pyc
__pycache__/
venv/

# pycharm files
*idea/

# emacs
*.py~


# ref.
# https://github.com/sepro/MemoBoard/blob/master/memoboard/models.py
# https://github.com/dternyak/React-Redux-Flask/blob/master/application/models.py