.Face-Tagger {
    position: absolute;
    border: 2px solid red;
}

.Face-Form {
    position: fixed;
    margin-left: 325px;
}

.Input-Tagger {
    display: block;
  margin-left: auto;
  margin-right: auto;

}